.calendar-shell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-grow: 1;
  width: 100%;
  padding: 32px 20px;
  box-sizing: border-box;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 560px;
  max-width: 100%;
  flex-shrink: 1;
}

.calendar-title {
  margin: 0 0 24px;
}
